In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from bs4 import BeautifulSoup
from urllib.request import urlopen
from bs4 import BeautifulSoup

url="https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/"
html= urlopen(url)

soup=BeautifulSoup(html , 'lxml')
type(soup)

bs4.BeautifulSoup

In [69]:
print(soup.get_text())

        League table - Fast Track







        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37401296-1', 'auto');
ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');



































        .hiring-link {
            display: inline-block;
            position: relative;
            top: -23px;
            margin-right: 15px;
        }

        .hiring-link span a {
            color: white;
            font-size: 1.2em;
        }

        .hiring-link span a:hover {
            color: #b1b1b1;
        }

        @media only screen and (max-width: 700px) {
            .hiring-link {
                display: none;
            }
        }

        #wrap-search input[type="text"]:focus {
            background: black !important;
        }

















{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.fasttrack.co.uk/#organization","name":"The Sunday Times Fast Track","url":"https://www.fasttrack.co.uk/","sameAs":["https://www.instagram.com/thesundaytimesfasttrack/","https://www.linkedin.com/company/sunday-times-fast-track/","https://twitter.com/ST_FastTrack"],"logo":{"@type":"ImageObject","@id":"https://www.fasttrack.co.uk/#logo","inLanguage":"en-GB","url":"https://www.fasttrack.co.uk/wp-content/uploads/Fast-Track-twitter-logo.png","width":480,"height":480,"caption":"The Sunday Times Fast Track"},"image":{"@id":"https://www.fasttrack.co.uk/#logo"}},{"@type":"WebSite","@id":"https://www.fasttrack.co.uk/#website","url":"https://www.fasttrack.co.uk/","name":"Fast Track","description":"","publisher":{"@id":"https://www.fasttrack.co.uk/#organization"},"potentialAction":[{"@type":"SearchAction","target":"https://www.fasttrack.co.uk/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-GB"},{"@type":"WebPage","@id":"https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/#webpage","url":"https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/","name":"League table - Fast Track","isPartOf":{"@id":"https://www.fasttrack.co.uk/#website"},"datePublished":"2015-11-23T15:35:18+00:00","dateModified":"2019-11-28T17:11:44+00:00","inLanguage":"en-GB","potentialAction":[{"@type":"ReadAction","target":["https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/"]}]}]}





			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.fasttrack.co.uk\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.4.1"}};
			/*! This file is auto-generated */
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);


img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}



/* <![CDATA[ */
var sdm_ajax_script = {"ajaxurl":"https:\/\/www.fasttrack.co.uk\/wp-admin\/admin-ajax.php"};
/* ]]> */









				var _hsq = _hsq || [];
				_hsq.push(["setContentType", "standard-page"]);


.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}












                        Fast Track 100
FAST TRACK






                                    Covid-19 update















                                    Home


                                    Blog


                                League tables

                                            Fast Track 100

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Disruptors/Ones to Watch

                                                    Alumni dinners

                                                    Nominate a company

                                                    Sponsorship



                                            SME Export Track 100

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Nominate a company

                                                    Sponsorship



                                            Tech Track 100

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Green Tech/Ones to Watch

                                                    Alumni dinners

                                                    Nominate a company

                                                    Sponsorship



                                            International Track 200

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Alumni dinners

                                                    Nominate a company

                                                    Sponsorship



                                            Profit Track 100

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Ones to Watch

                                                    Alumni dinners

                                                    Nominate a company

                                                    Sponsorship



                                            Top Track 250

Overview

                                                    League table

                                                    Supplement & research

                                                    Awards dinner

                                                    Ones to Watch

                                                    Alumni dinners

                                                    Nominate a company

                                                    Sponsorship



                                            Top Track 100

Overview

                                                    League table

                                                    Supplement & research

                                                    Directors' dinners

                                                    Nominate a company

                                                    Sponsorship





                                    About us




                                            The team

                                            Careers

                                            Charity

                                            Data partners



                                    Nominate a company


                                    Sponsorship


                                    Media and logos


                                            Videos

                                            Press releases

                                            Downloads and logos



                                    Contact us












					Fast Track 100


























































Menu

Overview
League table
Supplement & research
Awards dinner
Disruptors/Ones to Watch
Alumni dinners
Nominate a company
Sponsorship






Fast Track 100 league table
2019

2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000
1999
1998
1997









Rank
Company
Location
Year end
Annual sales rise over 3 years
Latest sales £000s
Staff
Comment





1
Chilly’s BottlesReusable bottle brand
Central London
Jul-19
284.01%
*31,471
15
Name inspired by how the bottles can keep drinks cold and chilly, or hot like a chilli pepper



2
Junkyard Golf ClubMini golf course operator
Manchester
Mar-19
204.21%
*12,841
230
Giant bears, fairground rides and scrapped cars all feature on its crazy golf courses



3
CurveWorkplace design and construction
Berkshire
Sep-19
186.16%
*9,241
16
Designed an office with a star-shaped entrance and a racetrack carpet for children's charity Make-A-Wish



4
Performance54Golf marketing agency
Surrey
Apr-19
181.13%
*6,190
16
The number '54' represents the perfect round of golf; 18 birdies



5
Xpress CentresCar repair services
Banbury
Jul-19
178.24%
*5,633
65
Carries out 15,000 bodywork repairs per year in supermarket car parks



6
MissomaOnline jewellery brand
West London
Mar-19
165.91%
*11,991
43
The brand is popular among younger royals including the Duchess of Sussex



7
OoniPizza oven manufacturer
Edinburgh
Dec-18
148.13%
*9,987
28
Says its Koda oven can reach a temperature of 500 degrees celsius and cook a pizza in 60 seconds



8
Evergen GroupSolar panel installer
Maidenhead
May-19
142.97%
*9,299
25
Installed a CityTree, an anti-pollution device equivalent to 275 trees, at Piccadilly Circus



9
Childs FarmChildren's toiletries maker
Hampshire
Dec-18
142.72%
12,818
28
Its products are now available in more than 7,500 stores nationwide and launched in New Zealand this August



10
GymsharkFitness clothing retailer
Solihull
Jul-19
141.26%
*179,546
300
Has launched a “try now, pay later” service in the UK and Scandinavia



11
One Retail GroupConsumer products retailer
Northwest London
Dec-18
136.64%
25,420
11
Founder Joshua Stevens learned Mandarin during his commute to negotiate better with suppliers



12
Warner’s DistilleryGin distillery
Northamptonshire
Dec-18
131.13%
*10,859
34
Claims to have started the recent pink gin craze when it created its rhubarb gin



13
Oh PollyOnline fashion retailer
Glasgow
Apr-19
124.07%
*21,380
168
Founders Claire Henderson and Mike Branney met while they were studying aeronautical engineering



14
Prodigi GroupDigital printing
Cardiff
Mar-19
123.55%
17,861
80
A live snake once accidentally found its way into one of its deliveries



15
Bluefin TradingSports equipment supplier
West Yorkshire
Dec-18
121.81%
†*6,672
10
This firm’s HQ is a farm in the West Yorkshire Pennines, 1,200ft above sea level



16
StrathberryLuxury handbag designer
Edinburgh
Apr-19
118.07%
*11,825
40
Founders met at a wedding, got married and started a business together



17
Missy EmpireOnline fashion retailer
Manchester
Mar-19
115.30%
*13,864
45
Has clothing collaborations with reality TV stars from Made in Chelsea and Love Island



18
Brisant SecureLock and hinge manufacturer
West Yorkshire
Dec-18
111.27%
*8,783
40
A harrowing burglary experience prompted the creation of the firm’s Ultion door lock



19
Sleek EventsEvents agency
Southwest London
Jul-19
110.00%
*7,676
10
Founder and first employee worked out of her kitchen for first two years after company was set up



20
CField ConstructionConstruction contractor
Central London
Dec-18
98.66%
67,545
55
Has commenced work on the conversion of a grade II listed Cornish jail into a luxury hotel



21
Otto CarCar-hire provider
West London
Mar-19
97.08%
*12,078
50
Expanded its fleet of hire cars from one to 2,000 in four years



22
BoxparkRetail and leisure developer
Brighton
Apr-19
96.02%
*12,800
110
Grime artist Stormzy launched his 2017 album Gang Signs & Prayer at Boxpark Croydon



23
ImproveasyEnergy efficiency consultancy
Manchester
Mar-19
95.96%
*11,928
23
Says it has contracts with five of the Big Six energy companies



24
Candour LogisticsLogistics services provider
Warrington
Mar-19
93.07%
*56,437
17
Ships goods ranging from dog toys to timber across the world



25
Northern Gas & PowerEnergy management consultancy
Gateshead
Dec-18
92.85%
29,616
285
Offers staff an annual holiday in Majorca and December off if they meet targets



26
VashiDiamond jewellery retailer
Central London
Dec-18
90.95%
20,666
55
Customers can customise, forge, set and engrave their own diamond rings at its workshops



27
Lusso StoneLuxury bathroom retailer
Middlesbrough
Sep-19
89.70%
*12,563
12
Its baths, sinks and showers can be found in high-end hotels such as Claridge’s in Mayfair



28
Cult BeautyOnline beauty retailer
Central London
May-19
86.95%
*89,000
140
Launched a female sexual pleasure and wellness range to celebrate International Women’s Day



29
Tarquin’s Cornish GinGin distillery
Cornwall
Mar-19
85.30%
*5,103
27
Founder Tarquin Leadbetter started making gin on his home cooker aged 23



30
Velocity CommerceOnline marketplace specialist
Cambridge
Dec-18
83.87%
*16,744
26
Also designs digital radios that it names after Cambridge colleges



31
Super 8 RestaurantsRestaurant group
East London
Jul-19
83.19%
*7,214
114
Its Kiln restaurant, in London’s Soho, focuses on clay-baked Thai dishes



32
Stiltz LiftsHome lift manufacturer
West Midlands
Dec-18
81.66%
18,991
162
Its Trio lift can fit three people or a wheelchair and is designed for installation in private homes



33
HalalBookingSpecialist online travel agency
Reading
Dec-18
81.13%
*17,632
49
This year, over 100,000 holidaymakers stayed in accommodation booked on this company's website



34
Midstream LightingSpecialist lighting manufacturer
Southwest London
Jan-19
78.24%
5,044
14
Its floodlights are used at more than 100 international airports, including Gatwick, Istanbul and Bangalore



35
Revolution BeautyBeauty products retailer
Kent
Dec-18
76.66%
112,621
180
Following its launch in Australia, fans queued up for hours to buy its new beauty products



36
AerFinAircraft and spares services
Caerphilly
Dec-18
76.54%
84,365
101
Opened a new aircraft parts storage and distribution centre in Atlanta this April to expand its US presence



37
Real Wrap Co.Food-to-go manufacturer
Bristol
Mar-19
76.53%
*9,077
171
Produces over 13m sandwiches and meals each year across the UK



38
Eden MillDistillery and brewery
St Andrews
Mar-19
74.20%
*7,773
51
First single malt whisky sold for a world record price of £7,100 for a first release



39
GrenadeSports nutrition brand
Solihull
Dec-18
72.78%
*44,169
48
Says its Carb Killa protein bars are the UK’s second bestselling chocolate bar



40
Phoenix CellularMobile phone distributor
Crewe
Oct-19
72.28%
*56,000
65
Sells about 30,000 used phones a month to European networks, insurance firms and wholesalers



41
Sherbet LondonTaxi fleet operator
North London
Dec-18
71.69%
6,571
30
Its luxury electric taxis come with card machines, charging ports and WiFi



42
Character.comBranded clothing retailer
Swansea
Jul-18
70.90%
*19,090
38
Products range from Star Wars stormtrooper backpacks to Peppa Pig dressing gowns



43
TransmissionMarketing agency
East London
Dec-18
68.25%
*17,392
60
Opened three overseas offices in January, in San Francisco, Singapore and Sydney



44
Tropic SkincareBeauty products manufacturer
Croydon
Jun-19
66.71%
*34,943
160
Founder Susie Ma started selling cosmetic products at Greenwich Market aged 15



45
Mowgli Street FoodIndian restaurant chain
Liverpool
Jul-19
66.05%
11,986
301
Founder spent 20 years working as a child-protection barrister before opening her first restaurant



46
Charlotte Tilbury BeautyBeauty products retailer
West London
Dec-18
65.30%
145,437
878
Says its newest foundation had a waiting list of 10,000 ahead of its launch in August



47
CP HireConstruction equipment hire
Cardiff
May-19
64.90%
*12,719
90
Began with £40,000 worth of construction equipment and now runs a fleet valued at £40m



48
TattuChinese restaurant chain
Manchester
Dec-18
63.97%
*8,673
170
Opened its fourth venue in October, in Edinburgh, and plans to open in London next year



49
INSTAsmileDental veneer retailer
Merseyside
Sep-19
62.76%
*6,500
50
Prints 3D models of customers’ teeth to create accurate veneers



50
Oxford Summer CoursesEducational course provider
Oxford
Sep-19
62.42%
*9,272
36
Students from 112 countries have enlisted in its summer courses



51
Envisage DentalDental practice
Basingstoke
Mar-19
61.24%
*6,287
68
Offers a sedation service for nervous patients with dental phobia



52
VPZVaping shop chain
Edinburgh
Dec-18
60.04%
26,397
226
Stocks a range of over 500 e-liquid flavours in its online shop, including ‘Darth Vapour’



53
Highwood GroupConstruction contractor and developer
Hampshire
Feb-19
59.85%
66,706
62
There are currently 4,000 development plots under this group's control



54
Corley + WoolleyFit-out contractor
Central London
Dec-18
58.82%
32,072
37
Refurbished an entire shopping centre in Northampton while it was open and fully occupied



55
Braidwater GroupHousebuilder
Londonderry
Mar-19
58.28%
34,904
65
Growth capital firm BGF has invested three times in the past four years



56
The Resin MillSurfacing resin wholesaler
West Yorkshire
Dec-18
56.76%
*7,520
13
Its School of Resin is a resin-bound surfacing academy with a practice driveway



57
BrewDogBrewery
Aberdeenshire
Dec-18
56.55%
171,619
1,247
Founders’ £100,000 pitch on Dragons’ Den was turned down in 2009; it would now be worth over £360m



58
Beavertown BreweryBrewery
North London
Mar-19
56.53%
*19,559
112
Is the official craft beer supplier of the new Tottenham Hotspur stadium



59
ReassuredLife insurance broker
Basingstoke
Jan-19
56.31%
37,811
411

In [70]:
soup.find_all('a')

[<a class="navbar-brand active d-md-none" href="https://www.fasttrack.co.uk">
                         Fast Track 100</a>,
 <a class="navbar-brand fast-track active d-none d-md-block" href="https://www.fasttrack.co.uk">FAST TRACK</a>,
 <a href="https://www.fasttrack.co.uk/covid-19-update/">
                                     Covid-19 update</a>,
 <a href="https://www.fasttrack.co.uk/">
                                     Home</a>,
 <a href="https://www.fasttrack.co.uk/blog/">
                                     Blog</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/">
                                             Fast Track 100</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/awards-dinners/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/ones-to-watch/">
                                                     Disruptors/Ones to Watch</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/alumni/">
                                                     Alumni dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/fast-track-100/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/">
                                             SME Export Track 100</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/awards/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/sme-export-track-100/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/">
                                             Tech Track 100</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/awards/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/ones-to-watch/">
                                                     Green Tech/Ones to Watch</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/alumni/">
                                                     Alumni dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/tech-track-100/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/">
                                             International Track 200</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/awards-dinners/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/alumni/">
                                                     Alumni dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/international-track-200/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/">
                                             Profit Track 100</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/awards-dinners/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/ones-to-watch/">
                                                     Ones to Watch</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/alumni/">
                                                     Alumni dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/profit-track-100/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/">
                                             Top Track 250</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/awards/">
                                                     Awards dinner</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/top-track-250-ones-to-watch/">
                                                     Ones to Watch</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/alumni/">
                                                     Alumni dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-250/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/">
                                             Top Track 100</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/">Overview</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/league-table/">
                                                     League table</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/supplement/">
                                                     Supplement &amp; research</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/awards/">
                                                     Directors' dinners</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/nominate-a-company/">
                                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/league-tables/top-track-100/sponsorship/">
                                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/about-us/">
                                     About us</a>,
 <a href="https://www.fasttrack.co.uk/about-us/">
 </a>,
 <a href="https://www.fasttrack.co.uk/about-us/the-team/">
                                             The team</a>,
 <a href="https://www.fasttrack.co.uk/about-us/careers/">
                                             Careers</a>,
 <a href="https://www.fasttrack.co.uk/about-us/charity/">
                                             Charity</a>,
 <a href="https://www.fasttrack.co.uk/about-us/data-partners/">
                                             Data partners</a>,
 <a href="https://www.fasttrack.co.uk/nominate-a-company/">
                                     Nominate a company</a>,
 <a href="https://www.fasttrack.co.uk/sponsorship/">
                                     Sponsorship</a>,
 <a href="https://www.fasttrack.co.uk/media-and-logos/">
                                     Media and logos</a>,
 <a href="https://www.fasttrack.co.uk/media-and-logos/">
                                             Videos</a>,
 <a href="https://www.fasttrack.co.uk/media-and-logos/press-releases/">
                                             Press releases</a>,
 <a href="https://www.fasttrack.co.uk/media-and-logos/downloads/">
                                             Downloads and logos</a>,
 <a href="https://www.fasttrack.co.uk/contact-us/">
                                     Contact us</a>,
 <a href="https://www.linkedin.com/company/sunday-times-fast-track" target="_blank"><img alt="linkedIn" src="https://www.fasttrack.co.uk/wp-content/themes/fast_track/assets/img/linkedin_circle_icon.png"/></a>,
 <a href="https://twitter.com/ST_FastTrack" target="_blank"><img alt="twitter" src="https://www.fasttrack.co.uk/wp-content/themes/fast_track/assets/img/twitter_circle_icon.png"/></a>,
 <a href="https://www.instagram.com/thesundaytimesfasttrack" target="_blank"><img alt="instagram" src="https://www.fasttrack.co.uk/wp-content/themes/fast_track/assets/img/instagram_circle_icon.png" style="width: 40px; height: 35px;"/></a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/virgin-atlantic/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Virgin-Atlantic.png');"></div></a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/barclays/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Barclays.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/bdo/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/bdo.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/bgf/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/BGF-1.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/n1-singer/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/N1-Singer.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/dhl-express/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/DHL.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/charles-russell-speechlys/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Charles-Russell-Speechlys.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/the-office-group/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Website-logo-template.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/heathrow-airport/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Heathrow.png');" title=""></div>
 </a>,
 <a href="https://www.fasttrack.co.uk/sponsor-profiles/virgin/">
 <div class="image" style="background-image: url('https://www.fasttrack.co.uk/wp-content/uploads/Virgin.png');" title=""></div>
 </a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/">Overview</a>,
 <a class="active" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/league-table/">League table</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/supplement/">Supplement &amp; research</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/awards-dinners/">Awards dinner</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/ones-to-watch/">Disruptors/Ones to Watch</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/alumni/">Alumni dinners</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/nominate-a-company/">Nominate a company</a>,
 <a class="" href="https://www.fasttrack.co.uk/league-tables/fast-track-100/sponsorship/">Sponsorship</a>,
 <a href="?leagueyear=2019">2019</a>,
 <a href="?leagueyear=2018">2018</a>,
 <a href="?leagueyear=2017">2017</a>,
 <a href="?leagueyear=2016">2016</a>,
 <a href="?leagueyear=2015">2015</a>,
 <a href="?leagueyear=2014">2014</a>,
 <a href="?leagueyear=2013">2013</a>,
 <a href="?leagueyear=2012">2012</a>,
 <a href="?leagueyear=2011">2011</a>,
 <a href="?leagueyear=2010">2010</a>,
 <a href="?leagueyear=2009">2009</a>,
 <a href="?leagueyear=2008">2008</a>,
 <a href="?leagueyear=2007">2007</a>,
 <a href="?leagueyear=2006">2006</a>,
 <a href="?leagueyear=2005">2005</a>,
 <a href="?leagueyear=2004">2004</a>,
 <a href="?leagueyear=2003">2003</a>,
 <a href="?leagueyear=2002">2002</a>,
 <a href="?leagueyear=2001">2001</a>,
 <a href="?leagueyear=2000">2000</a>,
 <a href="?leagueyear=1999">1999</a>,
 <a href="?leagueyear=1998">1998</a>,
 <a href="?leagueyear=1997">1997</a>,
 <a href="https://www.fasttrack.co.uk/company_profile/chillys-bottles-2/"><span class="company-name">Chilly’s Bottles</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/junkyard-golf-club/"><span class="company-name">Junkyard Golf Club</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/curve-2/"><span class="company-name">Curve</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/performance54/"><span class="company-name">Performance54</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/xpress-centres/"><span class="company-name">Xpress Centres</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/missoma-3/"><span class="company-name">Missoma</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/ooni/"><span class="company-name">Ooni</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/evergen-group/"><span class="company-name">Evergen Group</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/childs-farm-2/"><span class="company-name">Childs Farm</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/gymshark-10/"><span class="company-name">Gymshark</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/one-retail-group-3/"><span class="company-name">One Retail Group</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/warners-distillery/"><span class="company-name">Warner’s Distillery</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/oh-polly-2/"><span class="company-name">Oh Polly</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/prodigi-group/"><span class="company-name">Prodigi Group</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/bluefin-trading/"><span class="company-name">Bluefin Trading</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/strathberry/"><span class="company-name">Strathberry</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/missy-empire-2/"><span class="company-name">Missy Empire</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/brisant-secure/"><span class="company-name">Brisant Secure</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/sleek-events/"><span class="company-name">Sleek Events</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/cfield-construction-2/"><span class="company-name">CField Construction</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/otto-car/"><span class="company-name">Otto Car</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/boxpark-2/"><span class="company-name">Boxpark</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/improveasy/"><span class="company-name">Improveasy</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/candour-logistics/"><span class="company-name">Candour Logistics</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/northern-gas-power/"><span class="company-name">Northern Gas &amp; Power</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/vashi/"><span class="company-name">Vashi</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/lusso-stone-3/"><span class="company-name">Lusso Stone</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/cult-beauty-6/"><span class="company-name">Cult Beauty</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/tarquins-cornish-gin/"><span class="company-name">Tarquin’s Cornish Gin</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/velocity-commerce/"><span class="company-name">Velocity Commerce</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/super-8-restaurants/"><span class="company-name">Super 8 Restaurants</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/stiltz-lifts-4/"><span class="company-name">Stiltz Lifts</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/halalbooking/"><span class="company-name">HalalBooking</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/midstream-lighting-2/"><span class="company-name">Midstream Lighting</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/revolution-beauty-5/"><span class="company-name">Revolution Beauty</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/aerfin-9/"><span class="company-name">AerFin</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/real-wrap-co-2/"><span class="company-name">Real Wrap Co.</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/eden-mill/"><span class="company-name">Eden Mill</span></a>,
 <a href="https://www.fasttrack.co.uk/company_profile/grenade-9/"><span class="company-name">Grenade</span></a>,

In [71]:
soup.find_all('th')

[<th>Rank</th>,
 <th>Company</th>,
 <th class="">Location</th>,
 <th class="no-word-wrap">Year end</th>,
 <th class="" style="text-align:right;">Annual sales rise over 3 years</th>,
 <th class="" style="text-align:right;">Latest sales £000s</th>,
 <th class="" style="text-align:right;">Staff</th>,
 <th class="">Comment</th>]

In [72]:
rows=soup.find_all('tr')
print(rows[:10])

[<tr>
<th>Rank</th>
<th>Company</th>
<th class="">Location</th>
<th class="no-word-wrap">Year end</th>
<th class="" style="text-align:right;">Annual sales rise over 3 years</th>
<th class="" style="text-align:right;">Latest sales £000s</th>
<th class="" style="text-align:right;">Staff</th>
<th class="">Comment</th>
<!--				<th>FYE</th>-->
</tr>, <tr>
<td>1</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/chillys-bottles-2/"><span class="company-name">Chilly’s Bottles</span></a>Reusable bottle brand</td>
<td>Central London</td>
<td>Jul-19</td>
<td style="text-align:right;">284.01%</td>
<td style="text-align:right;">*31,471</td>
<td style="text-align:right;">15</td>
<td>Name inspired by how the bottles can keep drinks cold and chilly, or hot like a chilli pepper</td>
<!--						<td>Jul-19</td>-->
</tr>, <tr>
<td>2</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/junkyard-golf-club/"><span class="company-name">Junkyard Golf Club</span></a>Mini golf course operator</td>
<td>Manchester</td>
<td>Mar-19</td>
<td style="text-align:right;">204.21%</td>
<td style="text-align:right;">*12,841</td>
<td style="text-align:right;">230</td>
<td>Giant bears, fairground rides and scrapped cars all feature on its crazy golf courses</td>
<!--						<td>Mar-19</td>-->
</tr>, <tr>
<td>3</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/curve-2/"><span class="company-name">Curve</span></a>Workplace design and construction</td>
<td>Berkshire</td>
<td>Sep-19</td>
<td style="text-align:right;">186.16%</td>
<td style="text-align:right;">*9,241</td>
<td style="text-align:right;">16</td>
<td>Designed an office with a star-shaped entrance and a racetrack carpet for children's charity Make-A-Wish</td>
<!--						<td>Sep-19</td>-->
</tr>, <tr>
<td>4</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/performance54/"><span class="company-name">Performance54</span></a>Golf marketing agency</td>
<td>Surrey</td>
<td>Apr-19</td>
<td style="text-align:right;">181.13%</td>
<td style="text-align:right;">*6,190</td>
<td style="text-align:right;">16</td>
<td>The number '54' represents the perfect round of golf; 18 birdies</td>
<!--						<td>Apr-19</td>-->
</tr>, <tr>
<td>5</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/xpress-centres/"><span class="company-name">Xpress Centres</span></a>Car repair services</td>
<td>Banbury</td>
<td>Jul-19</td>
<td style="text-align:right;">178.24%</td>
<td style="text-align:right;">*5,633</td>
<td style="text-align:right;">65</td>
<td>Carries out 15,000 bodywork repairs per year in supermarket car parks</td>
<!--						<td>Jul-19</td>-->
</tr>, <tr>
<td>6</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/missoma-3/"><span class="company-name">Missoma</span></a>Online jewellery brand</td>
<td>West London</td>
<td>Mar-19</td>
<td style="text-align:right;">165.91%</td>
<td style="text-align:right;">*11,991</td>
<td style="text-align:right;">43</td>
<td>The brand is popular among younger royals including the Duchess of Sussex</td>
<!--						<td>Mar-19</td>-->
</tr>, <tr>
<td>7</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/ooni/"><span class="company-name">Ooni</span></a>Pizza oven manufacturer</td>
<td>Edinburgh</td>
<td>Dec-18</td>
<td style="text-align:right;">148.13%</td>
<td style="text-align:right;">*9,987</td>
<td style="text-align:right;">28</td>
<td>Says its Koda oven can reach a temperature of 500 degrees celsius and cook a pizza in 60 seconds</td>
<!--						<td>Dec-18</td>-->
</tr>, <tr>
<td>8</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/evergen-group/"><span class="company-name">Evergen Group</span></a>Solar panel installer</td>
<td>Maidenhead</td>
<td>May-19</td>
<td style="text-align:right;">142.97%</td>
<td style="text-align:right;">*9,299</td>
<td style="text-align:right;">25</td>
<td>Installed a CityTree, an anti-pollution device equivalent to 275 trees, at Piccadilly Circus</td>
<!--						<td>May-19</td>-->
</tr>, <tr>
<td>9</td>
<td><a href="https://www.fasttrack.co.uk/company_profile/childs-farm-2/"><span class="company-name">Childs Farm</span></a>Children's toiletries maker</td>
<td>Hampshire</td>
<td>Dec-18</td>
<td style="text-align:right;">142.72%</td>
<td style="text-align:right;">12,818</td>
<td style="text-align:right;">28</td>
<td>Its products are now available in more than 7,500 stores nationwide and launched in New Zealand this August</td>
<!--						<td>Dec-18</td>-->
</tr>]

In [73]:
for row in rows:
    row_td = row.find_all('td')
    print(row_td)
    type(row_td)

[]
[<td>1</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/chillys-bottles-2/"><span class="company-name">Chilly’s Bottles</span></a>Reusable bottle brand</td>, <td>Central London</td>, <td>Jul-19</td>, <td style="text-align:right;">284.01%</td>, <td style="text-align:right;">*31,471</td>, <td style="text-align:right;">15</td>, <td>Name inspired by how the bottles can keep drinks cold and chilly, or hot like a chilli pepper</td>]
[<td>2</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/junkyard-golf-club/"><span class="company-name">Junkyard Golf Club</span></a>Mini golf course operator</td>, <td>Manchester</td>, <td>Mar-19</td>, <td style="text-align:right;">204.21%</td>, <td style="text-align:right;">*12,841</td>, <td style="text-align:right;">230</td>, <td>Giant bears, fairground rides and scrapped cars all feature on its crazy golf courses</td>]
[<td>3</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/curve-2/"><span class="company-name">Curve</span></a>Workplace design and construction</td>, <td>Berkshire</td>, <td>Sep-19</td>, <td style="text-align:right;">186.16%</td>, <td style="text-align:right;">*9,241</td>, <td style="text-align:right;">16</td>, <td>Designed an office with a star-shaped entrance and a racetrack carpet for children's charity Make-A-Wish</td>]
[<td>4</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/performance54/"><span class="company-name">Performance54</span></a>Golf marketing agency</td>, <td>Surrey</td>, <td>Apr-19</td>, <td style="text-align:right;">181.13%</td>, <td style="text-align:right;">*6,190</td>, <td style="text-align:right;">16</td>, <td>The number '54' represents the perfect round of golf; 18 birdies</td>]
[<td>5</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/xpress-centres/"><span class="company-name">Xpress Centres</span></a>Car repair services</td>, <td>Banbury</td>, <td>Jul-19</td>, <td style="text-align:right;">178.24%</td>, <td style="text-align:right;">*5,633</td>, <td style="text-align:right;">65</td>, <td>Carries out 15,000 bodywork repairs per year in supermarket car parks</td>]
[<td>6</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/missoma-3/"><span class="company-name">Missoma</span></a>Online jewellery brand</td>, <td>West London</td>, <td>Mar-19</td>, <td style="text-align:right;">165.91%</td>, <td style="text-align:right;">*11,991</td>, <td style="text-align:right;">43</td>, <td>The brand is popular among younger royals including the Duchess of Sussex</td>]
[<td>7</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/ooni/"><span class="company-name">Ooni</span></a>Pizza oven manufacturer</td>, <td>Edinburgh</td>, <td>Dec-18</td>, <td style="text-align:right;">148.13%</td>, <td style="text-align:right;">*9,987</td>, <td style="text-align:right;">28</td>, <td>Says its Koda oven can reach a temperature of 500 degrees celsius and cook a pizza in 60 seconds</td>]
[<td>8</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/evergen-group/"><span class="company-name">Evergen Group</span></a>Solar panel installer</td>, <td>Maidenhead</td>, <td>May-19</td>, <td style="text-align:right;">142.97%</td>, <td style="text-align:right;">*9,299</td>, <td style="text-align:right;">25</td>, <td>Installed a CityTree, an anti-pollution device equivalent to 275 trees, at Piccadilly Circus</td>]
[<td>9</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/childs-farm-2/"><span class="company-name">Childs Farm</span></a>Children's toiletries maker</td>, <td>Hampshire</td>, <td>Dec-18</td>, <td style="text-align:right;">142.72%</td>, <td style="text-align:right;">12,818</td>, <td style="text-align:right;">28</td>, <td>Its products are now available in more than 7,500 stores nationwide and launched in New Zealand this August</td>]
[<td>10</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/gymshark-10/"><span class="company-name">Gymshark</span></a>Fitness clothing retailer</td>, <td>Solihull</td>, <td>Jul-19</td>, <td style="text-align:right;">141.26%</td>, <td style="text-align:right;">*179,546</td>, <td style="text-align:right;">300</td>, <td>Has launched a “try now, pay later” service in the UK and Scandinavia</td>]
[<td>11</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/one-retail-group-3/"><span class="company-name">One Retail Group</span></a>Consumer products retailer</td>, <td>Northwest London</td>, <td>Dec-18</td>, <td style="text-align:right;">136.64%</td>, <td style="text-align:right;">25,420</td>, <td style="text-align:right;">11</td>, <td>Founder Joshua Stevens learned Mandarin during his commute to negotiate better with suppliers</td>]
[<td>12</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/warners-distillery/"><span class="company-name">Warner’s Distillery</span></a>Gin distillery</td>, <td>Northamptonshire</td>, <td>Dec-18</td>, <td style="text-align:right;">131.13%</td>, <td style="text-align:right;">*10,859</td>, <td style="text-align:right;">34</td>, <td>Claims to have started the recent pink gin craze when it created its rhubarb gin</td>]
[<td>13</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/oh-polly-2/"><span class="company-name">Oh Polly</span></a>Online fashion retailer</td>, <td>Glasgow</td>, <td>Apr-19</td>, <td style="text-align:right;">124.07%</td>, <td style="text-align:right;">*21,380</td>, <td style="text-align:right;">168</td>, <td>Founders Claire Henderson and Mike Branney met while they were studying aeronautical engineering</td>]
[<td>14</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/prodigi-group/"><span class="company-name">Prodigi Group</span></a>Digital printing</td>, <td>Cardiff</td>, <td>Mar-19</td>, <td style="text-align:right;">123.55%</td>, <td style="text-align:right;">17,861</td>, <td style="text-align:right;">80</td>, <td>A live snake once accidentally found its way into one of its deliveries</td>]
[<td>15</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/bluefin-trading/"><span class="company-name">Bluefin Trading</span></a>Sports equipment supplier</td>, <td>West Yorkshire</td>, <td>Dec-18</td>, <td style="text-align:right;">121.81%</td>, <td style="text-align:right;">†*6,672</td>, <td style="text-align:right;">10</td>, <td>This firm’s HQ is a farm in the West Yorkshire Pennines, 1,200ft above sea level</td>]
[<td>16</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/strathberry/"><span class="company-name">Strathberry</span></a>Luxury handbag designer</td>, <td>Edinburgh</td>, <td>Apr-19</td>, <td style="text-align:right;">118.07%</td>, <td style="text-align:right;">*11,825</td>, <td style="text-align:right;">40</td>, <td>Founders met at a wedding, got married and started a business together</td>]
[<td>17</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/missy-empire-2/"><span class="company-name">Missy Empire</span></a>Online fashion retailer</td>, <td>Manchester</td>, <td>Mar-19</td>, <td style="text-align:right;">115.30%</td>, <td style="text-align:right;">*13,864</td>, <td style="text-align:right;">45</td>, <td>Has clothing collaborations with reality TV stars from Made in Chelsea and Love Island</td>]
[<td>18</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/brisant-secure/"><span class="company-name">Brisant Secure</span></a>Lock and hinge manufacturer</td>, <td>West Yorkshire</td>, <td>Dec-18</td>, <td style="text-align:right;">111.27%</td>, <td style="text-align:right;">*8,783</td>, <td style="text-align:right;">40</td>, <td>A harrowing burglary experience prompted the creation of the firm’s Ultion door lock</td>]
[<td>19</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/sleek-events/"><span class="company-name">Sleek Events</span></a>Events agency</td>, <td>Southwest London</td>, <td>Jul-19</td>, <td style="text-align:right;">110.00%</td>, <td style="text-align:right;">*7,676</td>, <td style="text-align:right;">10</td>, <td>Founder and first employee worked out of her kitchen for first two years after company was set up</td>]
[<td>20</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/cfield-construction-2/"><span class="company-name">CField Construction</span></a>Construction contractor</td>, <td>Central London</td>, <td>Dec-18</td>, <td style="text-align:right;">98.66%</td>, <td style="text-align:right;">67,545</td>, <td style="text-align:right;">55</td>, <td>Has commenced work on the conversion of a grade II listed Cornish jail into a luxury hotel</td>]
[<td>21</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/otto-car/"><span class="company-name">Otto Car</span></a>Car-hire provider</td>, <td>West London</td>, <td>Mar-19</td>, <td style="text-align:right;">97.08%</td>, <td style="text-align:right;">*12,078</td>, <td style="text-align:right;">50</td>, <td>Expanded its fleet of hire cars from one to 2,000 in four years</td>]
[<td>22</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/boxpark-2/"><span class="company-name">Boxpark</span></a>Retail and leisure developer</td>, <td>Brighton</td>, <td>Apr-19</td>, <td style="text-align:right;">96.02%</td>, <td style="text-align:right;">*12,800</td>, <td style="text-align:right;">110</td>, <td>Grime artist Stormzy launched his 2017 album Gang Signs &amp; Prayer at Boxpark Croydon</td>]
[<td>23</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/improveasy/"><span class="company-name">Improveasy</span></a>Energy efficiency consultancy</td>, <td>Manchester</td>, <td>Mar-19</td>, <td style="text-align:right;">95.96%</td>, <td style="text-align:right;">*11,928</td>, <td style="text-align:right;">23</td>, <td>Says it has contracts with five of the Big Six energy companies</td>]
[<td>24</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/candour-logistics/"><span class="company-name">Candour Logistics</span></a>Logistics services provider</td>, <td>Warrington</td>, <td>Mar-19</td>, <td style="text-align:right;">93.07%</td>, <td style="text-align:right;">*56,437</td>, <td style="text-align:right;">17</td>, <td>Ships goods ranging from dog toys to timber across the world</td>]
[<td>25</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/northern-gas-power/"><span class="company-name">Northern Gas &amp; Power</span></a>Energy management consultancy</td>, <td>Gateshead</td>, <td>Dec-18</td>, <td style="text-align:right;">92.85%</td>, <td style="text-align:right;">29,616</td>, <td style="text-align:right;">285</td>, <td>Offers staff an annual holiday in Majorca and December off if they meet targets</td>]
[<td>26</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/vashi/"><span class="company-name">Vashi</span></a>Diamond jewellery retailer</td>, <td>Central London</td>, <td>Dec-18</td>, <td style="text-align:right;">90.95%</td>, <td style="text-align:right;">20,666</td>, <td style="text-align:right;">55</td>, <td>Customers can customise, forge, set and engrave their own diamond rings at its workshops</td>]
[<td>27</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/lusso-stone-3/"><span class="company-name">Lusso Stone</span></a>Luxury bathroom retailer</td>, <td>Middlesbrough</td>, <td>Sep-19</td>, <td style="text-align:right;">89.70%</td>, <td style="text-align:right;">*12,563</td>, <td style="text-align:right;">12</td>, <td>Its baths, sinks and showers can be found in high-end hotels such as Claridge’s in Mayfair</td>]
[<td>28</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/cult-beauty-6/"><span class="company-name">Cult Beauty</span></a>Online beauty retailer</td>, <td>Central London</td>, <td>May-19</td>, <td style="text-align:right;">86.95%</td>, <td style="text-align:right;">*89,000</td>, <td style="text-align:right;">140</td>, <td>Launched a female sexual pleasure and wellness range to celebrate International Women’s Day</td>]
[<td>29</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/tarquins-cornish-gin/"><span class="company-name">Tarquin’s Cornish Gin</span></a>Gin distillery</td>, <td>Cornwall</td>, <td>Mar-19</td>, <td style="text-align:right;">85.30%</td>, <td style="text-align:right;">*5,103</td>, <td style="text-align:right;">27</td>, <td>Founder Tarquin Leadbetter started making gin on his home cooker aged 23</td>]
[<td>30</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/velocity-commerce/"><span class="company-name">Velocity Commerce</span></a>Online marketplace specialist</td>, <td>Cambridge</td>, <td>Dec-18</td>, <td style="text-align:right;">83.87%</td>, <td style="text-align:right;">*16,744</td>, <td style="text-align:right;">26</td>, <td>Also designs digital radios that it names after Cambridge colleges</td>]
[<td>31</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/super-8-restaurants/"><span class="company-name">Super 8 Restaurants</span></a>Restaurant group</td>, <td>East London</td>, <td>Jul-19</td>, <td style="text-align:right;">83.19%</td>, <td style="text-align:right;">*7,214</td>, <td style="text-align:right;">114</td>, <td>Its Kiln restaurant, in London’s Soho, focuses on clay-baked Thai dishes</td>]
[<td>32</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/stiltz-lifts-4/"><span class="company-name">Stiltz Lifts</span></a>Home lift manufacturer</td>, <td>West Midlands</td>, <td>Dec-18</td>, <td style="text-align:right;">81.66%</td>, <td style="text-align:right;">18,991</td>, <td style="text-align:right;">162</td>, <td>Its Trio lift can fit three people or a wheelchair and is designed for installation in private homes</td>]
[<td>33</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/halalbooking/"><span class="company-name">HalalBooking</span></a>Specialist online travel agency</td>, <td>Reading</td>, <td>Dec-18</td>, <td style="text-align:right;">81.13%</td>, <td style="text-align:right;">*17,632</td>, <td style="text-align:right;">49</td>, <td>This year, over 100,000 holidaymakers stayed in accommodation booked on this company's website</td>]
[<td>34</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/midstream-lighting-2/"><span class="company-name">Midstream Lighting</span></a>Specialist lighting manufacturer</td>, <td>Southwest London</td>, <td>Jan-19</td>, <td style="text-align:right;">78.24%</td>, <td style="text-align:right;">5,044</td>, <td style="text-align:right;">14</td>, <td>Its floodlights are used at more than 100 international airports, including Gatwick, Istanbul and Bangalore</td>]
[<td>35</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/revolution-beauty-5/"><span class="company-name">Revolution Beauty</span></a>Beauty products retailer</td>, <td>Kent</td>, <td>Dec-18</td>, <td style="text-align:right;">76.66%</td>, <td style="text-align:right;">112,621</td>, <td style="text-align:right;">180</td>, <td>Following its launch in Australia, fans queued up for hours to buy its new beauty products</td>]
[<td>36</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/aerfin-9/"><span class="company-name">AerFin</span></a>Aircraft and spares services</td>, <td>Caerphilly</td>, <td>Dec-18</td>, <td style="text-align:right;">76.54%</td>, <td style="text-align:right;">84,365</td>, <td style="text-align:right;">101</td>, <td>Opened a new aircraft parts storage and distribution centre in Atlanta this April to expand its US presence</td>]
[<td>37</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/real-wrap-co-2/"><span class="company-name">Real Wrap Co.</span></a>Food-to-go manufacturer</td>, <td>Bristol</td>, <td>Mar-19</td>, <td style="text-align:right;">76.53%</td>, <td style="text-align:right;">*9,077</td>, <td style="text-align:right;">171</td>, <td>Produces over 13m sandwiches and meals each year across the UK</td>]
[<td>38</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/eden-mill/"><span class="company-name">Eden Mill</span></a>Distillery and brewery</td>, <td>St Andrews</td>, <td>Mar-19</td>, <td style="text-align:right;">74.20%</td>, <td style="text-align:right;">*7,773</td>, <td style="text-align:right;">51</td>, <td>First single malt whisky sold for a world record price of £7,100 for a first release</td>]
[<td>39</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/grenade-9/"><span class="company-name">Grenade</span></a>Sports nutrition brand</td>, <td>Solihull</td>, <td>Dec-18</td>, <td style="text-align:right;">72.78%</td>, <td style="text-align:right;">*44,169</td>, <td style="text-align:right;">48</td>, <td>Says its Carb Killa protein bars are the UK’s second bestselling chocolate bar</td>]
[<td>40</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/phoenix-cellular-2/"><span class="company-name">Phoenix Cellular</span></a>Mobile phone distributor</td>, <td>Crewe</td>, <td>Oct-19</td>, <td style="text-align:right;">72.28%</td>, <td style="text-align:right;">*56,000</td>, <td style="text-align:right;">65</td>, <td>Sells about 30,000 used phones a month to European networks, insurance firms and wholesalers</td>]
[<td>41</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/sherbet-london/"><span class="company-name">Sherbet London</span></a>Taxi fleet operator</td>, <td>North London</td>, <td>Dec-18</td>, <td style="text-align:right;">71.69%</td>, <td style="text-align:right;">6,571</td>, <td style="text-align:right;">30</td>, <td>Its luxury electric taxis come with card machines, charging ports and WiFi</td>]
[<td>42</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/character-com-3/"><span class="company-name">Character.com</span></a>Branded clothing retailer</td>, <td>Swansea</td>, <td>Jul-18</td>, <td style="text-align:right;">70.90%</td>, <td style="text-align:right;">*19,090</td>, <td style="text-align:right;">38</td>, <td>Products range from Star Wars stormtrooper backpacks to Peppa Pig dressing gowns</td>]
[<td>43</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/transmission/"><span class="company-name">Transmission</span></a>Marketing agency</td>, <td>East London</td>, <td>Dec-18</td>, <td style="text-align:right;">68.25%</td>, <td style="text-align:right;">*17,392</td>, <td style="text-align:right;">60</td>, <td>Opened three overseas offices in January, in San Francisco, Singapore and Sydney</td>]
[<td>44</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/tropic-skincare-4/"><span class="company-name">Tropic Skincare</span></a>Beauty products manufacturer</td>, <td>Croydon</td>, <td>Jun-19</td>, <td style="text-align:right;">66.71%</td>, <td style="text-align:right;">*34,943</td>, <td style="text-align:right;">160</td>, <td>Founder Susie Ma started selling cosmetic products at Greenwich Market aged 15</td>]
[<td>45</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/mowgli-street-food-2/"><span class="company-name">Mowgli Street Food</span></a>Indian restaurant chain</td>, <td>Liverpool</td>, <td>Jul-19</td>, <td style="text-align:right;">66.05%</td>, <td style="text-align:right;">11,986</td>, <td style="text-align:right;">301</td>, <td>Founder spent 20 years working as a child-protection barrister before opening her first restaurant</td>]
[<td>46</td>, <td><a href="https://www.fasttrack.co.uk/company_profile/charlotte-tilbury-beauty-3/"><span class="company-name">Charlotte Tilbury Beauty</span></a>Beauty products retailer</td>, <td>West London</td>, <td>Dec-18</td>, <td style="text-align:right;">65.30%</td>, <td style="text-align:right;">145,437</td>, <td style="text-align:right;">878</td>, <td>Says its newest foundation had a waiting list of 10,000 ahead of its launch in August</td>]

In [74]:
str_cells= str(row_td)
cleantext = BeautifulSoup(str_cells , "lxml").get_text()
print(cleantext)

[100, VivobarefootFootwear manufacturer & retailer, Central London, Jun-19, 43.57%, *26,176, 61, Founder has heritage in the footwear world, hailing from the Clark family]

In [75]:
import re
list_rows = []

for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 =(re.sub(clean , '' , str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[100, VivobarefootFootwear manufacturer &amp; retailer, Central London, Jun-19, 43.57%, *26,176, 61, Founder has heritage in the footwear world, hailing from the Clark family]

str

In [76]:
df= pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1  [1, Chilly’s BottlesReusable bottle brand, Cen...
2  [2, Junkyard Golf ClubMini golf course operato...
3  [3, CurveWorkplace design and construction, Be...
4  [4, Performance54Golf marketing agency, Surrey...
5  [5, Xpress CentresCar repair services, Banbury...
6  [6, MissomaOnline jewellery brand, West London...
7  [7, OoniPizza oven manufacturer, Edinburgh, De...
8  [8, Evergen GroupSolar panel installer, Maiden...
9  [9, Childs FarmChildren's toiletries maker, Ha...

In [77]:
df1 = df[0].str.split(',' , expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10
0,[],None,None,None,None,None,None,None,None,None,None
1,[1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper],None
2,[2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,None
3,[3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,None,None
4,[4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,None,None
5,[5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,None
6,[6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,None,None
7,[7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,None,None
8,[8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus]
9,[9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,None

In [78]:
df1.isnull().sum()

0      0
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9     59
10    88
dtype: int64

In [79]:
df1[0]=df1[0].str.strip('[')
df1.head(15)

,0,1,2,3,4,5,6,7,8,9,10
0,],None,None,None,None,None,None,None,None,None,None
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper],None
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,None
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,None,None
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,None,None
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,None
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,None,None
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,None,None
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus]
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,None
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now,pay later” service in the UK and Scandinavia],None
11,11,One Retail GroupConsumer products retailer,Northwest London,Dec-18,136.64%,25,420,11,Founder Joshua Stevens learned Mandarin durin...,None,None
12,12,Warner’s DistilleryGin distillery,Northamptonshire,Dec-18,131.13%,*10,859,34,Claims to have started the recent pink gin cr...,None,None
13,13,Oh PollyOnline fashion retailer,Glasgow,Apr-19,124.07%,*21,380,168,Founders Claire Henderson and Mike Branney me...,None,None
14,14,Prodigi GroupDigital printing,Cardiff,Mar-19,123.55%,17,861,80,A live snake once accidentally found its way ...,None,None

In [80]:
df1[0]=df1[0].str.strip(']')
df1.head(15)

,0,1,2,3,4,5,6,7,8,9,10
0,,None,None,None,None,None,None,None,None,None,None
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper],None
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,None
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,None,None
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,None,None
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,None
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,None,None
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,None,None
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus]
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,None
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now,pay later” service in the UK and Scandinavia],None
11,11,One Retail GroupConsumer products retailer,Northwest London,Dec-18,136.64%,25,420,11,Founder Joshua Stevens learned Mandarin durin...,None,None
12,12,Warner’s DistilleryGin distillery,Northamptonshire,Dec-18,131.13%,*10,859,34,Claims to have started the recent pink gin cr...,None,None
13,13,Oh PollyOnline fashion retailer,Glasgow,Apr-19,124.07%,*21,380,168,Founders Claire Henderson and Mike Branney me...,None,None
14,14,Prodigi GroupDigital printing,Cardiff,Mar-19,123.55%,17,861,80,A live snake once accidentally found its way ...,None,None

In [81]:
df1[9]=df1[9].str.strip(']')
df1[10]=df1[10].str.strip(']')
df1.head(15)

,0,1,2,3,4,5,6,7,8,9,10
0,,None,None,None,None,None,None,None,None,None,None
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,None
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,None
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,None,None
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,None,None
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,None
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,None,None
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,None,None
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,None
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now,pay later” service in the UK and Scandinavia,None
11,11,One Retail GroupConsumer products retailer,Northwest London,Dec-18,136.64%,25,420,11,Founder Joshua Stevens learned Mandarin durin...,None,None
12,12,Warner’s DistilleryGin distillery,Northamptonshire,Dec-18,131.13%,*10,859,34,Claims to have started the recent pink gin cr...,None,None
13,13,Oh PollyOnline fashion retailer,Glasgow,Apr-19,124.07%,*21,380,168,Founders Claire Henderson and Mike Branney me...,None,None
14,14,Prodigi GroupDigital printing,Cardiff,Mar-19,123.55%,17,861,80,A live snake once accidentally found its way ...,None,None

In [82]:
column_headers= soup.find_all('th')
print(column_headers[:10])

[<th>Rank</th>, <th>Company</th>, <th class="">Location</th>, <th class="no-word-wrap">Year end</th>, <th class="" style="text-align:right;">Annual sales rise over 3 years</th>, <th class="" style="text-align:right;">Latest sales £000s</th>, <th class="" style="text-align:right;">Staff</th>, <th class="">Comment</th>]

In [83]:
all_header= []
col_str= str(column_headers)
cleantext2= BeautifulSoup(col_str , 'lxml').get_text()
all_header.append(cleantext2)
print(all_header)

['[Rank, Company, Location, Year end, Annual sales rise over 3 years, Latest sales £000s, Staff, Comment]']

In [84]:
df2= pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Rank, Company, Location, Year end, Annual sal...

In [85]:
df3= df2[0].str.split(',' , expand=True)
df3.head()

,0,1,2,3,4,5,6,7
0,[Rank,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment]

In [86]:
df3[0]= df3[0].str.strip('[')
df3[7]= df3[7].str.strip(']')
df3.head(10)

,0,1,2,3,4,5,6,7
0,Rank,Company,Location,Year end,Annual sales rise over 3 years,Latest sales £000s,Staff,Comment

In [87]:
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10
0,,None,None,None,None,None,None,None,None,None,None
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,None
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,None
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,None,None
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,None,None
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,None
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,None,None
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,None,None
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,None

In [88]:
df1.fillna(value=np.nan, inplace=True )
df1.head(15)

,0,1,2,3,4,5,6,7,8,9,10
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,NaN
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,NaN
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,NaN,NaN
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,NaN,NaN
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,NaN
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,NaN,NaN
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,NaN,NaN
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,NaN
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now,pay later” service in the UK and Scandinavia,NaN
11,11,One Retail GroupConsumer products retailer,Northwest London,Dec-18,136.64%,25,420,11,Founder Joshua Stevens learned Mandarin durin...,NaN,NaN
12,12,Warner’s DistilleryGin distillery,Northamptonshire,Dec-18,131.13%,*10,859,34,Claims to have started the recent pink gin cr...,NaN,NaN
13,13,Oh PollyOnline fashion retailer,Glasgow,Apr-19,124.07%,*21,380,168,Founders Claire Henderson and Mike Branney me...,NaN,NaN
14,14,Prodigi GroupDigital printing,Cardiff,Mar-19,123.55%,17,861,80,A live snake once accidentally found its way ...,NaN,NaN

In [89]:
df1.drop(df1.index[0], inplace=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,NaN
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,NaN
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,NaN,NaN
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,NaN,NaN
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,NaN
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...,NaN,NaN
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...,NaN,NaN
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree,an anti-pollution device equivalent to 275 trees,at Piccadilly Circus
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7,500 stores nationwide and launched in New Zeal...,NaN
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now,pay later” service in the UK and Scandinavia,NaN

In [90]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,NaN
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,NaN
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,NaN,NaN
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,NaN,NaN
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,NaN

In [91]:
df1= df1.replace(np.nan , ' ', regex=True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,,
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,,
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,

In [92]:
df1["new"]= df1[8]+df1[9]+df1[10]
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,new
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,or hot like a chilli pepper,,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears,fairground rides and scrapped cars all featur...,,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,,,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,,,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15,000 bodywork repairs per year in supermarket c...,,Carries out 15000 bodywork repairs per year i...

In [93]:
df1.drop([8,9,10], axis=1, inplace=True)
df1.head(10)

,0,1,2,3,4,5,6,7,new
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15000 bodywork repairs per year i...
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11,991,43,The brand is popular among younger royals inc...
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9,987,28,Says its Koda oven can reach a temperature of...
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9,299,25,Installed a CityTree an anti-pollution device...
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12,818,28,Its products are now available in more than 7...
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179,546,300,Has launched a “try now pay later” service in...

In [94]:
df1.isnull().sum()

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
new    0
dtype: int64

In [95]:
df1["newhead"]=df1[5]+''+df1[6]
df1.head()

,0,1,2,3,4,5,6,7,new,newhead
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31,471,15,Name inspired by how the bottles can keep dri...,*31471
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12,841,230,Giant bears fairground rides and scrapped car...,*12841
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9,241,16,Designed an office with a star-shaped entranc...,*9241
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6,190,16,The number '54' represents the perfect round ...,*6190
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5,633,65,Carries out 15000 bodywork repairs per year i...,*5633

In [96]:
df1.drop([5,6], axis=1, inplace=True)
df1.head(10)

,0,1,2,3,4,7,new,newhead
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,15,Name inspired by how the bottles can keep dri...,*31471
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,230,Giant bears fairground rides and scrapped car...,*12841
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,16,Designed an office with a star-shaped entranc...,*9241
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,16,The number '54' represents the perfect round ...,*6190
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,65,Carries out 15000 bodywork repairs per year i...,*5633
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,43,The brand is popular among younger royals inc...,*11991
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,28,Says its Koda oven can reach a temperature of...,*9987
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,25,Installed a CityTree an anti-pollution device...,*9299
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,28,Its products are now available in more than 7...,12818
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,300,Has launched a “try now pay later” service in...,*179546

In [97]:
df1["Comment"]=df1["new"]

In [98]:
df1

,0,1,2,3,4,7,new,newhead,Comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,15,Name inspired by how the bottles can keep dri...,*31471,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,230,Giant bears fairground rides and scrapped car...,*12841,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,16,Designed an office with a star-shaped entranc...,*9241,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,16,The number '54' represents the perfect round ...,*6190,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,65,Carries out 15000 bodywork repairs per year i...,*5633,Carries out 15000 bodywork repairs per year i...
...,...,...,...,...,...,...,...,...,...
96,96,Honest BurgersBurger restaurant chain,Central London,Jan-19,44.58%,589,Offers burgers with regional themes such as t...,30669,Offers burgers with regional themes such as t...
97,97,VanaramaVehicle leasing broker,Hemel Hempstead,Dec-18,44.18%,226,Positioned a “car vending machine” at London’...,*75055,Positioned a “car vending machine” at London’...
98,98,Hamilton Court FXForeign exchange services,Central London,Mar-19,44.06%,45,It once changed £150m into euros in a single ...,*15265,It once changed £150m into euros in a single ...
99,99,Airline Component ServicesAircraft parts and ...,Braintree,Mar-19,44.02%,10,Supplies and repairs aircraft parts for custo...,*6225,Supplies and repairs aircraft parts for custo...
100,100,VivobarefootFootwear manufacturer &amp; retailer,Central London,Jun-19,43.57%,61,Founder has heritage in the footwear world ha...,*26176,Founder has heritage in the footwear world ha...

In [99]:
df1.drop(["new"], axis=1, inplace=True)
df1.head(10)

,0,1,2,3,4,7,newhead,Comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,15,*31471,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,230,*12841,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,16,*9241,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,16,*6190,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,65,*5633,Carries out 15000 bodywork repairs per year i...
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,43,*11991,The brand is popular among younger royals inc...
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,28,*9987,Says its Koda oven can reach a temperature of...
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,25,*9299,Installed a CityTree an anti-pollution device...
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,28,12818,Its products are now available in more than 7...
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,300,*179546,Has launched a “try now pay later” service in...

In [100]:
df1['Staff']=df1[7]
df1.head()

,0,1,2,3,4,7,newhead,Comment,Staff
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,15,*31471,Name inspired by how the bottles can keep dri...,15
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,230,*12841,Giant bears fairground rides and scrapped car...,230
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,16,*9241,Designed an office with a star-shaped entranc...,16
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,16,*6190,The number '54' represents the perfect round ...,16
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,65,*5633,Carries out 15000 bodywork repairs per year i...,65

In [101]:
df1.drop([7],axis=1, inplace=True)
df1.head()

,0,1,2,3,4,newhead,Comment,Staff
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31471,Name inspired by how the bottles can keep dri...,15
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12841,Giant bears fairground rides and scrapped car...,230
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9241,Designed an office with a star-shaped entranc...,16
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6190,The number '54' represents the perfect round ...,16
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5633,Carries out 15000 bodywork repairs per year i...,65

In [102]:
df1['comment']=df1['Comment']
df1.head()

,0,1,2,3,4,newhead,Comment,Staff,comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31471,Name inspired by how the bottles can keep dri...,15,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12841,Giant bears fairground rides and scrapped car...,230,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9241,Designed an office with a star-shaped entranc...,16,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6190,The number '54' represents the perfect round ...,16,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5633,Carries out 15000 bodywork repairs per year i...,65,Carries out 15000 bodywork repairs per year i...

In [103]:
df1.drop(['Comment'], axis=1, inplace=True)
df1.head()

,0,1,2,3,4,newhead,Staff,comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31471,15,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12841,230,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9241,16,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6190,16,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5633,65,Carries out 15000 bodywork repairs per year i...

In [104]:
df1.head()

,0,1,2,3,4,newhead,Staff,comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31471,15,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12841,230,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9241,16,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6190,16,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5633,65,Carries out 15000 bodywork repairs per year i...

In [105]:
df1.rename(columns={0:'Rank', 1:'Company', 2:'Location', 3:'Year_End', 4:'Annual_sales_rise_over_3_years', 'newhead': 'Latest_sales' , 'comment':'Comment'}, inplace=True)
df1.head(10)

,Rank,Company,Location,Year_End,Annual_sales_rise_over_3_years,Latest_sales,Staff,Comment
1,1,Chilly’s BottlesReusable bottle brand,Central London,Jul-19,284.01%,*31471,15,Name inspired by how the bottles can keep dri...
2,2,Junkyard Golf ClubMini golf course operator,Manchester,Mar-19,204.21%,*12841,230,Giant bears fairground rides and scrapped car...
3,3,CurveWorkplace design and construction,Berkshire,Sep-19,186.16%,*9241,16,Designed an office with a star-shaped entranc...
4,4,Performance54Golf marketing agency,Surrey,Apr-19,181.13%,*6190,16,The number '54' represents the perfect round ...
5,5,Xpress CentresCar repair services,Banbury,Jul-19,178.24%,*5633,65,Carries out 15000 bodywork repairs per year i...
6,6,MissomaOnline jewellery brand,West London,Mar-19,165.91%,*11991,43,The brand is popular among younger royals inc...
7,7,OoniPizza oven manufacturer,Edinburgh,Dec-18,148.13%,*9987,28,Says its Koda oven can reach a temperature of...
8,8,Evergen GroupSolar panel installer,Maidenhead,May-19,142.97%,*9299,25,Installed a CityTree an anti-pollution device...
9,9,Childs FarmChildren's toiletries maker,Hampshire,Dec-18,142.72%,12818,28,Its products are now available in more than 7...
10,10,GymsharkFitness clothing retailer,Solihull,Jul-19,141.26%,*179546,300,Has launched a “try now pay later” service in...

In [108]:
df1.count()

Rank                              100
Company                           100
Location                          100
Year_End                          100
Annual_sales_rise_over_3_years    100
Latest_sales                      100
Staff                             100
Comment                           100
dtype: int64

In [117]:
df1.to_csv("fast_track_top100.csv", index=False, encoding='utf-8')